.shop .category{
    padding: 30px;
    height: 100%;
}

.shop{
    margin-top: 30px;
}
.shop .category .box{
    background-color: #fff;
    margin: 15px 0;
    transition: 0.5s;
    border-radius: 5px;
    padding: 5px 10px;
}

.shop .category img{
    width: auto;
    height: auto;
}

.shop .category .box:hover{
    background-color: #fff;
    box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
}

.shop .category button{
    padding: 10px;
    background: none;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

.shop .contentWidth{
    margin-left: 30px;
}

.grid1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.shop .product img{
    width: 100%;
    cursor: pointer;
}

.shop .product {
    transition: 0.5s;
}

.shop .product:hover{
    box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
}

.dropdown {
    position: relative;
}

.menu {
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
    width: 100%;
}
  
.menu > li {
    margin: 0;
    background-color: white;
}


.chead .container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
}

.chead .menu .container label{
    width: 100%;
    cursor: pointer;
}

.chead  .menu .container input{
    transform: scale(1.5);
    cursor: pointer;
}

.chead .menu .container span{
    margin-left: 10px;
}

.chead button{
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.chead .tab{
    padding-bottom: 5px;
}
.chead button i{
    padding-top: 2px;
}

.dropdown .range-slider {
    margin-left: 11px;
    margin-top: 10px;
    width: 216px;
}

.range-slider .range-slider__thumb {
    width: 20px;
    height: 20px;
}

.dropdown .range-values input{
    margin-top: 20px;
    border: 1px solid #999;
    width: 60px;
    padding-left: 12px;
    height: 30px;
    text-align: center;
    border-radius: 3px;
}

.shop #order-select{
    height: 30px;
    width: 110px;
    cursor: pointer;
} 


@media only screen and (max-width: 390px) {
    .grid1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}