.barter .barter-div{
    margin: 30px 0 30px 0;
    display: grid;
    place-items: center;
    min-height: 100%;
}

.barter p{
    margin-bottom: 10px;
}

.barter .form{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;

}

.barter .txt_field{
    margin: 2rem 0;
}

.barter .form-step-active{
    display: block;   
    transform-origin: top;
    animation: animate 0.5s;
}

.barter .form-step-active textarea{
    resize: none;
    width: 100%;
    padding: 5px;
}

.barter .form-step{
    display: none;
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.barter .progressBar{
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}

.barter .progressBar::before, .progress{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}

.barter .progress{
    background-color: #0f3460;
    width: 2%;
}

.barter .progressBar .progress-step{
    width: 2.19rem;
    height: 2.19rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barter .progressBar .progress-step::before{
    counter-increment: step;
    content: counter(step);
}

.barter .progressBar .progress-step::after{
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.75rem);
    font-size: 0.85rem;
    color: #666;
}

.barter .progressBar .progress-step-active{
    background-color: #0f3460;
    color: aliceblue;
}

.barter .btnForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barter .btnForm .disabled{
    visibility: hidden;
}


.barter .btnForm button{
    background-color: #0f3460;
    color: aliceblue;
    font-weight: 600;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .barter .form{
        width: 100%;
        margin: 0 auto;
        border: 1px solid #ccc;
        border-radius: 0.35rem;
        padding: 1.5rem;
    
    }

    .barter .progressBar{
        margin: 10px 0;
    }

    .barter .progressBar .progress-step::after{
        display: none;
    }
}