.login .login-div{
    margin: 30px auto 30px auto;
    width: 400px;
    box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
    height: 420px;
    border-radius: 5px;
}

.login .login-div .offscreen{
    display: none;
}

.login .login-div .errMsg{
    display: flex;
    background-color: lightcoral;
    text-align: center;
    justify-content: center;
}

.login .login-div h1{
    text-align: center;
    padding: 15px 0 20px 0;
    border-bottom: 1px solid silver;
}

.login .login-div form{
    padding: 0 40px;
    box-sizing: border-box;
}

.login .login-div form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.login .login-div form .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
}

.login .login-div form .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.login .login-div form .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: 0.5s;
}

.login .login-div form .txt_field input:focus ~ label,
.login .login-div form .txt_field input:valid ~ label {
    top: -5px;
    color: #2691d9;
    font-size: 12px;
}

.login .login-div form .txt_field input:focus ~ span::before,
.login .login-div form .txt_field input:valid ~ span::before {
    width: 100%;
}

.login .login-div .pass{
    margin: -5px 0 20px 5px;
}

.login .login-div .pass a{
    color: #666666;
    cursor: pointer;
}

.login .login-div .pass a:hover{
    text-decoration: underline;
    text-decoration-color: #666666;
}

.login .login-div input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.login .login-div input[type="submit"]:hover{
    border-color: #2691d9;
    transition: 0.5s;
}

.login .login-div .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.login .login-div .signup_link span{
    color: #2691d9;
    text-decoration: none;
    margin-left: 5px;
}

.login .login-div .signup_link span:hover{
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    
    .login .login-div{
        margin: 30px auto 30px auto;
        width: 100%;
        box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
        height: 420px;
    }

    .login .login-div .pass a{
        color: #666666;
        cursor: pointer;
        text-decoration: underline;
    }

    .login .login-div .signup_link span{
        color: #2691d9;
        text-decoration: underline;
        margin-left: 5px;
    }
}