.cart-items{
    background: #f6f9fc;
    height: auto;
    padding: 50px 0;
}

.cart-items .container h1{
    padding-left: 10px;
    text-align: center;
}

.cart-items .cart-details{
    width: 70%;
}

.cart-items .cart-total{
    width: 30%;
    margin-top: 30px;
    margin-left: 30px;
    height: 100%;
}

.cart-list{
    background: white;
    margin-top: 30px;
}

.cart-items .img{
    width: 150px;
    height: 150px;
}

.cart-items img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-items .cart-details h3{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.cart-items .cart-details h4{
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    color: gray;
}

.cart-items h4 span{
    color: #e94560;
    margin-left: 4px;
    font-weight: 500;
}

.removeCart{
    background: none;
    font-size: 25px;
    text-align: right;
    margin-right: 10px;
}

.cart-items .deleteCartProduct{
    background-color: #ff7575;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
}

.cartControl{
    margin-top: 50px;
}

.cartControl button{
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.cartControl .incCart{
    background-color: #75baff;
}

.decCart{
    background-color: #ff7575;
}

.cart-total h4{
    font-size: 15px;
    font-weight: 400;
}

.cart-items .product:hover{
    cursor: default;
}

.cart-total .sendOption{
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.cart-total .sendOption input{
    cursor: pointer;
}

.cart-total .shipping h3{
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 500;
    color: #e94560;
}

.cart-total h2{
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(3 0 71 / 9%);
    padding-bottom: 10px;
    text-align: center;
}

.cart-total .btn-checkout{
    display: flex;
    margin: 20px auto 0 auto;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40px;
    background-color: #0f3460;
    color: #f6f9fc;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.no-items{
    color: #e94560;
    font-size: 18px;
    margin-top: 30px;
    height: 130px;
    text-align: center;
    justify-content: center;
    padding-top: 45px;
}

.paypal-button-container{
    margin: 20px;
}

.cart-items .fee_disclamer{

    font-size: 10px;
    margin-top: 40px;
}

@media only screen and (max-width: 600px) {

    .cart-items .cart-details{
        width: 100%;
        text-align: center;
    }

    .cart-items{
        padding-top: 0;
    }

    .cart-items .cart-total{
        margin-left: 0;
    }

    .container .cart-total{
        width: auto;
        margin-left: 10px;
    }

    .cart-list{
        display: flex;
        flex-direction: column;
    }

    .removeCart{
        display: none;
    }

    .cartControl{
        justify-content: center;
    }

    .cart-items .container h1{
        padding-left: 10px;
        padding-top: 30px;
    }
    
}