.barterDetailsPage{
    padding: 30px 3%;
    margin-left: auto;
    margin-right: auto; 
}

.barterDetailsPage .barterDetails-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.barterDetailsPage .barterDetails-heading button{
    background-color: #0f3460;
    color: aliceblue;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.barterDetailsPage .barterDetails-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.barterDetailsPage .barterDetails-card .barterDetails-heading h1{
    font-size: 25px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 10px;
}

.barterDetailsPage .progressBar{
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 4rem 4rem;
}

.barterDetailsPage .progressBar::before, .progress{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: 1;
}

.barterDetailsPage .progress{
    background-color: #0f3460;
    width: 2%;
    z-index: 3;
}

.barterDetailsPage .progressBar .progress-step{
    width: 2.19rem;
    height: 2.19rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barterDetailsPage .progressBar .progress-step::before{
    counter-increment: step;
    content: counter(step);
    z-index: 3;
}

.barterDetailsPage .progressBar .progress-step::after{
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.75rem);
    font-size: 0.85rem;
    color: #666;
    width: 130px;
    text-align: center;
}

.barterDetailsPage .progressBar .progress-step-active{
    background-color: #0f3460;
    color: aliceblue;
    z-index: 3;
}
.barterDetailsPage .barterDetails-card .barterDetails-body{
    margin: 25px;
    padding: 10px 25px;
    border: solid 1px;
}

.barterDetailsPage .barterDetails-card .barterDetails-body ul{
    margin-bottom: 40px;
}

.barterDetailsPage .barterDetails-card .barterDetails-body li{
    margin-top: 20px;
}

.barterDetailsPage .barterDetails-card .barterDetails-body .product-item{
    margin-left: 15px;
}

.barterDetailsPage .barterDetails-card .barterDetails-body .product-price {
    margin-left: 10px;
}

.barterDetailsPage .barterDetails-card .barterDetails-body .barter-items-li li{
    margin-top: 0;
    margin-left: 10px;
}

@media screen and (max-width: 600px){
    
    .barterDetailsPage .progressBar{
        margin: 2rem 1rem 4rem;
    }

    .barterDetailsPage .barterDetails-card .progressBar .progress-step::after{
        display: none;
    }
    
    .barterDetailsPage .barterDetails-card{
        width: 100%;
        padding-top: 10px;
        margin: 0;
        position: relative;
    }

    .barterDetailsPage .barterDetails-card .barterDetails-body{
        margin: 0 25px 25px 25px;
    }
}