.topCat{
    position: relative;
}

.topCat .box{
    margin: 0 20px;
}

.topCat img{
    width: 100%;
    height: 100%;
}

.topCat .nametop{
    position: relative;
    width: 100%;
}

.topCat .nametop span{
    background-color: #0f3460;
    color: #fff;
    font-style: 12px;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 5px;
    position: absolute;
    top: 0;
}

.topCat .nametop .tleft{
    left: 0;
}

.topCat .nametop .tright{
    background-color: aliceblue;
    color: black;
    position: absolute;
    right: 0;
}

.topCat .slick-slider{
    height: 250px;
}

.topCat .slick-slide img {
    height: 250px;
    cursor: pointer;
}

.topCat img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 600px) {
    
    .topCat .nametop .tright{
        display: none;
        }
        
    .topCat .box{
    margin: 0 0px;
    }

}
