.aboutUs .container{
    max-width: 60%;
}

.aboutUs .aboutUs-container{
    text-align: justify;
    text-justify: inter-word;
}

.aboutUs .aboutUs-heading h1{
    margin: 20px 0;
}

.aboutUs .aboutUs-container h2{
    margin: 20px 0;
}

.aboutUs{
    padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
    
    .aboutUs .container{
        max-width: 90%;
    }

}