.home{
    margin-top: 30px;
}

.home .container{
    margin-bottom: 40px;
    cursor: pointer;
}

.homeSlide{
    padding-top: 30px;
    box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
}

.homeSlide h1 {
    font-size: 45px;
    line-height: 55px;
    margin: 30px 0 20px 0;
}

.homeSlide p {
    margin: 30px 0;
}

.homeSlide .box {
    display: flex !important;
}
.homeSlide .box .left{
    width: 40%;
}

.homeSlide .box .right{
    padding-left: 40px;
    width: 60%;
}

.homeSlide .box img {
    width: 400px;
    height: 400px;
    object-fit: scale-down;
}

@media only screen and (max-width: 600px)  {
    .homeSlide h1 {
        font-size: 40px;
        line-height: 55px;
        margin: 0px 0 20px 0;
    }

    .top{
        margin-top: 30px;
    }

    .homeSlide .box .left{
        width: 100%;
    }
    .homeSlide .box .left button{
        margin-left: 1px;
    }
    
    .homeSlide .box .right{
        display: none;
        width: 0%;
    }

    .contentWidth{
        width: 100%;
    }
}