.home{
    margin-top: 30px;
}

.home .container{
    margin-bottom: 40px;
}

.homeSlide{
    padding-top: 30px
}

.homeSlide h1 {
    font-size: 45px;
    line-height: 55px;
    margin: 30px 0 20px 0;
}

.homeSlide p {
    margin: 20px 0;
}

.homeSlide ul {
    position: absolute;
    bottom: 20px;
}

.homeSlide ul li{
    border: 2px solid #b8b7b7;
    border-radius: 50%;
    padding: 10px;
}

.homeSlide ul li button {
    background: transparent !important;
    color: transparent !important;
}

.homeSlide ul li button::before{
    font-size: 15px;
    color: #0f3460;
    position: absolute;
    top: 1px;
    left: 0.5px;
    margin: auto;
}

.homeSlide .box {
    display: flex !important;
}
.homeSlide .box .left{
    width: 70%;
}

.homeSlide .box .right{
    width: 30%;
}

.homeSlide .box img {
    width: 100%;
    height: 100%;
}

.slick-dots{
    top: 310px;
}

@media only screen and (max-width: 390px)  {
    .homeSlide h1 {
        font-size: 40px;
        line-height: 55px;
        margin: 0px 0 20px 0;
    }

    .top{
        margin-top: 30px;
    }

    .homeSlide .box .left{
        width: 100%;
    }
    .homeSlide .box .left button{
        margin-left: 1px;
    }
    
    .homeSlide .box .right{
        display: none;
        width: 0%;
    }

    .contentWidth{
        width: 100%;
    }

    .slick-dots{
        display: none;
    }
}