.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.contact .content{
    max-width: 800px;
    text-align: center;
}


.contact .content h2{
    font-size: 36px;
    font-weight: 500;
}



.contact .content p{
    font-weight: 300;
}

.contact .content a{
    font-weight: 600;
    text-decoration: underline;
}


#contact-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#contact-container .contactInfo{
    width: 50%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
}

#contact-container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

#contact-container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

#contact-container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

#contact-container .contactInfo .box .text h3{
    font-weight: 500;
    color: #0f3460;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox.submit-div{
    position: relative;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.contactForm textarea{
    height: 200px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 8px 0;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #0e4f9e;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #0f3460;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
} 

.contactForm .inputBox input.disabled[type="submit"]{
    width: 100px;
    background: #666;
    color: #fff;
    border: none;
    cursor: not-allowed;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}    

.contact .messageSent{
    text-align: center;
    color: green;
    font-weight: 500;
    display: none;
}
  
.contact .errorMsg{
    text-align: center;
    color: lightcoral;
    font-weight: 500;
    display: block;
}

.contact .show{
    display: block;
}

@media (max-width: 600px){
    .contact{
        padding: 50px;
    }
    .contactForm{
        padding: 0;
    }

    .contactForm h2{
        margin-bottom: 20px;
    }

    #contact-container{
        flex-direction: column;
    }

    #contact-container .contactInfo{
        margin-bottom: 40px;
    }

    #contact-container .contactInfo, 
    .contactForm{
        width: 100%;
    }

    .contactForm .recaptchaContainer{
        transform: translateX(-60px);
        transform-origin: 0 0;
        margin: 10px 40px 0 40px;
    }

    .contactForm .inputBox{
        display: flex;
        justify-content: center;
    }
}
