.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}

.card-wrapper img{
    width: 100%;
    display: block;
}

.card-wrapper .img-display{
    overflow: hidden;
    margin: 0px auto;
    width: 90%;
}

.card-wrapper .img-display .img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.card-wrapper .img-display .img-showcase img{
    min-width: 100%;
}

.card-wrapper .img-select{
    display: flex;
}

.img-select .img-item{
    margin: 0.3rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}

.img-item:hover{
    opacity: 0.8;
}

.card .product-content{
    padding: 2rem 1rem;
}

.card .product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    margin: 1rem 0;
}

.card .product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
}

.card .product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

.card .product-link:hover{
    opacity: 0.9;
}

.card .product-rating{
    color: #e94560;
}

.card .product-rating span{
    font-weight: 600;
    margin-left: 6px;
}

.card .product-price{
    margin: 1rem 0 0.5rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.card .product-price span{
    font-weight: 400;
}

.card .last-price span{
    color: #000;
    text-decoration: line-through;
}

.card .new-price span{
    color: #e94560;
    font-size: 30px;
}

.card .new-price .discount-span{
    color: #e94560;
    font-size: 20px;
}

.card .product-details h2{
    text-transform: capitalize;
    padding-bottom: 0.6rem;
}

.card .product-details p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.card .product-details .stock-availability{
    color: green;
}

.card .product-details ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}

.card .product-details ul li{
    margin: 0;
    list-style: none;
    background-size: 18px;
    padding-left: 1rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.card .product-details ul li span{
    font-weight: 400;
}

.card .purchase-info input,
.card .purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    margin-right: 0.8rem;
    margin-bottom: 1rem;
}

.card .purchase-info input{
    width: 60px;
}

.card .purchase-info .btn{
    cursor: pointer;
    color: #fff;
    background-color: #0f3460;
}

.card .purchase-info .btn:hover{
    opacity: 0.9;
}

.card .social-links{
    display: flex;
    align-items: center;
} 

.card .social-links p{
    margin-right: 10px;
} 

.card .social-links .share-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.review{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
 
.review-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #0f3460;
    color: #fff;
    padding: 10px 20px;
}

.review-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.review-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.review-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.review-profileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.review-profileImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.review-profile{
    display: flex;
    align-items: center;
}

.review-user-name{
    display: flex;
    flex-direction: column;
}

.review-user-name strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.reviews{
    color: #e94560;
}

.review-box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comments p{
    font-size: 0.9rem;
    color: #4b4b4b;
}

.btnMoreRev{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnMoreRev button{
    background-color: #0f3460;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    width: 180px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
}


@media screen and (min-width: 992px) {
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .card-wrapper{
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card .product-imgs{
        margin-right: 100px;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .card .product-content{
        padding-top: 0;
    }
    
}
