.orderDetailsPage{
    padding: 30px 3%;
    margin-left: auto;
    margin-right: auto; 
}

.orderDetailsPage .orderDetails-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.orderDetailsPage .orderDetails-heading button{
    background-color: #0f3460;
    color: aliceblue;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.orderDetailsPage .orderDetails-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.orderDetailsPage .orderDetails-card .orderDetails-heading h1{
    font-size: 25px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 10px;
}

.orderDetailsPage .orderDetails-card .orderDetails-track{
    margin: 0 0 5rem 8.5rem;
}

.orderDetailsPage .orderDetails-card .orderDetails-track #progress{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    position: relative;
    text-align: center;
}

.orderDetailsPage .orderDetails-card .orderDetails-track #progress li{
    width: 20%;
    position: relative;
}

.orderDetailsPage .orderDetails-card .orderDetails-track ::before{
    content: '\2713';
    position: absolute;
    display: flex;
    justify-content: center;
    width: 50px;
    align-items: center;
    font-size: 2rem;
    height: 50px;
    background: #0f3460;
    color: aliceblue;
    border-radius: 50%;
    z-index: 111;
}


.orderDetailsPage .orderDetails-card .orderDetails-track .disabled::before{
    content: '\2713';
    font-weight: bold;
    background: lightgray;
}

.orderDetailsPage .orderDetails-card .orderDetails-track #progress::before{
    content: '';
    position: absolute;
    top: 20px;
    width: 40%;
    margin-left: 35px;
    height: 10px;
    background: lightgray;
    z-index: 111;
}

.orderDetailsPage .orderDetails-card .orderDetails-track #progress::after{
    content: '';
    position: absolute;
    top: 20px;
    width: 82%;
    height: 10px;
    background: lightgray;
}


.orderDetailsPage .orderDetails-card .orderDetails-lists{
    display: flex;
    gap: 10rem;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 7%;
}

.orderDetailsPage .orderDetails-card .orderDetails-lists .orderDetails-list{
    display: flex;
    gap: 1em;
    flex: 1 1 50px;
}

.orderDetailsPage .orderDetails-card .orderDetails-lists .orderDetails-list p{
    font-size: 1.1rem;
}

.orderDetailsPage .orderDetails-card .orderDetails-lists .orderDetails-list i{
    font-size: 35px;
    color: #0f3460;
}

.orderDetailsPage .orderDetails-card .orderDetails-body{
    margin: 25px;
    padding: 10px 25px;
    border: solid 1px;
}

.orderDetailsPage .orderDetails-card .orderDetails-body ul{
    margin-bottom: 40px;
}

.orderDetailsPage .orderDetails-card .orderDetails-body li{
    margin-top: 20px;
}

.orderDetailsPage .orderDetails-card .orderDetails-body .product-item{
    margin-left: 15px;
}

@media screen and (max-width: 390px) and (max-height: 844px){
    
    .orderDetailsPage .orderDetails-card .orderDetails-track{
        display: none;
    }
    
    .orderDetailsPage .orderDetails-card .orderDetails-lists{
        display: none;
    }

    .orderDetailsPage .orderDetails-card{
        width: 100%;
        padding-top: 10px;
        margin: 0;
        position: relative;
    }

    .orderDetailsPage .orderDetails-card .orderDetails-body{
        margin: 0 25px 25px 25px;
    }
}