.orderDetailsPage{
    padding: 30px 3%;
    margin-left: auto;
    margin-right: auto; 
}

.orderDetailsPage .orderDetails-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.orderDetailsPage .orderDetails-heading button{
    background-color: #0f3460;
    color: aliceblue;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.orderDetailsPage .orderDetails-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.orderDetailsPage .orderDetails-card .orderDeletedDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    color: #0f3460;
    font-size: 20px;
    font-weight: 600;

}

.orderDetailsPage .orderDetails-card .orderDetails-heading h1{
    font-size: 25px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 10px;
}

.orderDetailsPage .progressBar{
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 4rem 4rem;
}

.orderDetailsPage .progressBar::before, .progress{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: 1;
}

.orderDetailsPage .progress{
    background-color: #0f3460;
    width: 2%;
    z-index: 3;
}

.orderDetailsPage .progressBar .progress-step{
    width: 2.19rem;
    height: 2.19rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderDetailsPage .progressBar .progress-step::before{
    counter-increment: step;
    content: counter(step);
    z-index: 3;
}

.orderDetailsPage .progressBar .progress-step::after{
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.75rem);
    font-size: 0.85rem;
    color: #666;
    width: 130px;
    text-align: center;
}

.orderDetailsPage .progressBar .progress-step-active{
    background-color: #0f3460;
    color: aliceblue;
    z-index: 3;
}

.orderDetailsPage .orderDetails-card .orderDetails-body{
    margin: 25px;
    padding: 30px 25px;
    border: solid 2px lightgray;
    border-radius: 5px;
}

.orderDetailsPage .orderDetails-card .orderDetails-body .orderDetails-box{
   border: 2px solid lightgray;
   border-radius: 5px;
   padding: 10px 6px;
}

.orderDetailsPage .orderDetails-card .orderDetails-body .top{
   margin-top: 10px;
}

.orderDetailsPage .orderDetails-card .orderDetails-body li{
    margin: 10px 0 10px 10px;
}

.orderDetailsPage .orderDetails-card .orderDetails-body li div{
    display: flex;
    gap: 5px;
}

.orderDetailsPage .orderDetails-card .orderDetails-body li b{
    font-weight: 600;
}

.orderDetailsPage .orderDetails-card .orderDetails-body .product-item{
    margin-left: 25px;
}

@media screen and (max-width: 600px){
    
    .orderDetailsPage .progressBar{
        margin: 2rem 3rem 4rem;
    }
    .orderDetailsPage .orderDetails-card{
        width: 100%;
        padding-top: 10px;
        margin: 0;
        position: relative;
    }

    .orderDetailsPage .orderDetails-card .orderDetails-body{
        margin: 0 15px 25px 15px;
        padding: 5px;
    }

    .orderDetailsPage .orderDetails-card .orderDetails-body li{
        margin: 15px 0;
    }

    .orderDetailsPage .orderDetails-card .orderDetails-body li div{
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .orderDetailsPage .orderDetails-card .orderDetails-body .product-item .hide{
        display: none;
    }

    .orderDetailsPage .orderDetails-card .orderDetails-body .product-item{
        margin-left: 0;
    }
}