footer{
    background-color: #0f3460;
    padding: 40px 0;
    color: #fff
}

footer .brandName{
    color: #e94560;
}

footer p{
    font-size: 14px;
    font-weight: 300;
    opacity: 0.5;
    margin-bottom: 20px;
}

footer a{
    transition: 0.5s;
    color: #fff;
}

footer a:hover{
    color:#e9e716;
    font-weight: 400;
}

footer h2{
    margin-bottom: 20px;
}

footer li{
    margin-bottom: 10px;
    opacity: 0.5;
}

footer .piva{
    margin-top: 20px;
    text-align: center;
}

footer .madeby{
    text-align: center;
}

footer .madeby a{
    color:darkgrey;
    cursor: pointer;
    transition: 0.5s;
}

footer .madeby a:hover{
    color:#e9e716;
    opacity: 0.9;
    font-weight: 400;
}

footer .rights{
    text-align: center;
}

footer .mail a{
    color: #fff;
    opacity: 0.6;
    font-weight: 400;
    transition: 0.5s;
}

footer .mail a:hover{
    color:#e9e716;
    opacity: 1;
}

footer .telephone a{
    color: #fff;
    opacity: 0.6;
    font-weight: 400;
    transition: 0.5s;
}

footer .telephone a:hover{
    color:#e9e716;
    opacity: 1;
}