:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #677483;
    --color-background: #f6f6f9;

    --color-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.userDashboardLogo img {
    display: block;
    width: 100%;
}

.userDashboardLogo h2 {
    font-size: 1.4rem;
}

.userDashboardLogo h3 {
    font-size: 0.87rem;
}

.userDashboardLogo h4 {
    font-size: 0.8rem;
}

.userDashboardLogo h5 {
    font-size: 0.77rem;
}

.text-muted {
    color: var(--color-info-dark);
}

#userDashboardContainer {
    display: grid;
    width: 100%;
    margin: 0 auto;    
    grid-template-columns: 14rem auto;
}

.userDashboard aside{
    height: 100vh;
}

.userDashboard aside .top{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

.userDashboard aside .userDashboardLogo{
    display: flex;
    gap: 0.8rem;
}

.userDashboard aside .userDashboardLogo img{
    width: 2rem;
    height: 2rem;
}

.userDashboard aside .close{
   display: none;
}

/*-----------SIDEBAR----------------*/

.userDashboard aside .userSidebar{
   background: white;
   display: flex;
   flex-direction: column;
   height: 80vh;
   position: relative;
   top: 3rem;
}

.userDashboard aside h3{
    font-weight: 500;
}

.userDashboard aside .userSidebar a{
    display: flex;
    color: #0f3460;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

.userDashboard aside .userSidebar a i{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

.userDashboard aside .userSidebar a:last-child{
    position: absolute;
    bottom: 12rem;
    width: 100%;
}

.userDashboard aside .userSidebar a.active{
    background: lightcyan;
    color: #1aa3ff;
    margin-left: 0;
}

.userDashboard aside .userSidebar a.active::before{
    content: '';
    width: 6px;
    height: 100%;
    background: #1aa3ff;
}

.userDashboard aside .userSidebar a.active i{
    color: #1aa3ff;
    margin-left: calc(1rem - 3px);
}

.userDashboard aside .userSidebar a:hover{
    color: #1aa3ff;
}

.userDashboard aside .userSidebar a:hover i{
    margin-left: 0.5rem;
}

@media screen and (max-width: 390px) and (max-height: 844px){
    
    .userDashboard aside .top .userDashboardLogo h2{
        display: none;
    }

    .userDashboard .container aside .userSidebar h3{
        display: none;
    }

    .userDashboard .container aside {
        width: 4rem;
    }

    #userDashboardContainer {
        display: grid;
        width: 100%;
        margin: 0 0;    
        grid-template-columns: 4.5rem auto;
    }

    .userDashboard aside .userSidebar a{
        display: flex;
        color: #0f3460;
        margin-left: 1.5rem;
        gap: 1rem;
        align-items: center;
        position: relative;
        height: 3.7rem;
        transition: all 300ms ease;
    }

    .userDashboard aside .userSidebar a.active i{
        color: #1aa3ff;
        margin-left: calc(1rem - 10px);
    }

    
}