.orderPage{
    margin-left: auto;
    margin-right: auto;
    padding: 3% 2% 60vh 2%;
    height: 100%;
}

.orderPage .heading{
    font-size: 30px;
    text-align: left;
    font-weight: 500;
}

.orderPage .orderPage-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    margin-top: 20px;
}

.orderPage .order-div{
    flex: 1 1 auto;
    padding: 1rem 1rem;
    word-wrap: break-word;
}

.orderPage .table{
    width: 100%;
    color: #212529;
    vertical-align: center;
    border-color: #dee2e6;
    overflow-x: auto;
    caption-side: bottom;
    border-collapse: collapse;
}

.orderPage .table > thead{
    vertical-align: bottom;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    display: table-header-group;
    background-color: lightblue;
}

.orderPage .table tr{
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    display: table-row;
    vertical-align: center;
}

.orderPage .table thead th{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.35px;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
}

.orderPage .table tbody tr td{
    font-size: 15px;
    letter-spacing: 0.35px;
    font-weight: normal;
    background-color: lightcyan;
    padding: 8px;
    text-align: center;
}

.orderPage .table tbody tr td button{
    width: 100px;
    text-decoration: none;
    height: 35px;
    display: inline-block;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    background-color: #0f3460;
    border-radius: 5px;
    font-size: 14px;
    opacity: 1;
    color: aliceblue;
}


@media screen and (max-width: 390px) and (max-height: 844px){
    
    .orderPage .order-div{
        padding: 1rem 0.3rem 1rem 0.3rem;
    }

    .orderPage .orderPage-card .order-div .table-container .table thead #id{
        display: none;
    }

    .orderPage .orderPage-card .order-div .table-container .table tbody #id{
        display: none;
    }

    .orderPage .order-div .table-container .table tbody #status{
        letter-spacing: 0.35px;
        font-weight: normal;
        background-color: lightcyan;
        padding: 8px;
        text-align: center;
        word-wrap: break-word;
        font-size: 9px;
    }

    .orderPage{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 10% 3% 100% 3%;
        height: 100%;
    }

    .orderPage .order-div .table{
        table-layout: fixed;
    }

    .orderPage .table thead th{
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.35px;
        opacity: 1;
        padding: 10px;
        vertical-align: top;
    }
    
    .orderPage .table tbody tr td{
        font-size: 12px;
        font-weight: normal;
        background-color: lightcyan;
        padding: 6px;
        text-align: center;
    }
    
    .orderPage .table tbody tr td button{
        width: 50px;
        font-size: 8px;
        height: 30px;
    }
    
}