.checkout .paypal-button-container{
    margin: 30px auto 30px auto;
    width: 450px;
    box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
    height: 100%;
    border-radius: 5px;
    padding: 0 40px;
}

.paypal-button-container .checkout-txt h1{
    text-align: center;
    padding: 40px 0;
}

.notAvailable-div{
    display: flex;
    flex-direction: column;
    margin: 30px auto 30px auto;
    width: 400px;
    box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
    border-radius: 5px;
}

.notAvailable-div h1{
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid silver;
}

.notAvailable-div i{
    color: #e94560;
    font-size: 100px;
    margin-left: auto;
    margin-right: auto;
}

.notAvailable-div div{
    display: flex;
    padding: 4%;
}

.notAvailable-div button{
    width: 100%;
    height: 50px;
    border: 1px solid;
    margin-bottom: 20px;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.notAvailable-div button:hover{
    border-color: #2691d9;
    transition: 0.5s;
}

.notAvailable-div button:disabled,
.notAvailable-div button:disabled:hover,
.notAvailable-div button[disabled]{
  background-color: #cccccc;
  border-color: black;
  color: #666666;
}

.notAvailable-div .notAvailable-p{
    text-align: center;
    margin: 20px;
}

.notAvailable-div .notAvailable-goBack-btn{
    width: 60%;
    height: 50px;
    border: 1px solid;
    margin-top: 20px;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.notAvailable-div .notAvailable-goBack-btn:hover{
    border-color: #2691d9;
    transition: 0.5s;
}

.checkout .bank-transfer{
    padding: 10px 0;
}

.checkout .bank-transfer h4{
    text-align: center;
    margin-bottom: 10px;
}

.checkout .bank-transfer button{
    width: 100%;
    border-radius: 5px;
    height: 40px;
    background-color: #0f3460;
    color: aliceblue;
    font-weight: 600;
    cursor: pointer;
}

.checkout .bank-transfer button:hover{
    box-shadow: 0px 0px 15px -9px #000000;
}

.checkout .bank-transfer-container{
    display: flex;
    flex-direction: column;
    margin: 30px auto 30px auto;
    width: 750px;
    box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
    height: 100%;
    border-radius: 5px;
    padding: 0 40px;
}

.checkout .bank-transfer-container .bank-transfer-heading{
    padding-top: 25px;
    border-bottom: 1px solid black;
}

.checkout .bank-transfer-container .bank-transfer-heading h1{
    padding-bottom: 10px;
    text-align: center;
}

.checkout .bank-transfer-container .bank-transfer-body{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.checkout .bank-transfer-container .bank-transfer-body p{
    padding-bottom: 10px;
}

.checkout .bank-transfer-container .btnDiv{
    margin: 60px 0 10px 0;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 10px;
}

.checkout .bank-transfer-container .btnDiv button{
    width: 140px;
    height: 40px;
    border-radius: 5px;
    background-color: #0f3460;
    color: aliceblue;
    font-weight: 600;
    cursor: pointer;
}

.checkout form{
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkout .txt_field{
    display: flex;
    justify-content: space-between;
}

.checkout .txt_field input{
    width: 200px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
}

.checkout .txt_field select{
    width: 200px;
    height: 25px;
    cursor: pointer;
}

.checkout .txt_field option{
    text-align: center;
    background-color: #fff;
}

@media screen and (max-width: 600px){
    
    .notAvailable-div{
        margin: 30px auto 30px auto;
        width: 100%;
        box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
        height: 100%;
        flex-direction: column;
    }

    .notAvailable-div .notAvailable-p{
        text-align: center;
        margin: 20px 10px 20px 10px;
    }

    .checkout .paypal-button-container{
        margin: 30px auto 30px auto;
        width: 100%;
        box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
        height: 100%;
        border-radius: 5px;
        padding: 0 40px;
    }

    .checkout .bank-transfer-container{
        display: flex;
        flex-direction: column;
        margin: 30px auto 30px auto;
        width: 100%;
        box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
        height: 100%;
        border-radius: 5px;
        padding: 0 40px;
    }

    .checkout .txt_field{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .checkout .bank-transfer-container .btnDiv{
        margin: 20px 0 10px 0;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        gap: 10px;
    }

    .checkout .txt_field select{
        width: 200px;
    }

}