.userEditReview{
    margin-left: auto;
    margin-right: auto;
    padding: 3% 2% 60vh 2%;
    height: 100%;
}

.userEditReview .mb-4{
    margin-bottom: 1.5rem;
}

.userEditReview .shadow-sm{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.userEditReview .userEditReview-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.userEditReview h2{
    font-weight: 500;
}

.userEditReview .card{
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.userEditReview .userEditReview-body{
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.userEditReview .userEditReview-body .userEditReview-text{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userEditReview .userEditReview-body .userEditReview-text .starBtn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.userEditReview .userEditReview-body .userEditReview-text .starBtn-div button{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: lightgray;
    color: aliceblue;
    font-weight: 600;
}

.userEditReview .userEditReview-body .userEditReview-text .starBtn-div .btnSel{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #0f3460;
    color: aliceblue;
    font-weight: 600;
}

.userEditReview .userEditReview-body .userEditReview-text .confirm-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.userEditReview .userEditReview-body .userEditReview-text .confirm-body .btn{
    background-color: #0f3460;
    color: aliceblue;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 60px;
}

.userEditReview .userEditReview-body .userEditReview-text .confirm-body .confirm-div{
    display: flex;
    gap: 10px;
}

.userEditReview .success{
    color: #2ec011;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}

.userEditReview .notSuccess{
    color: #df1c1c;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}

.userEditReview .userEditReview-body .userEditReview-text input{
    border: 1px solid black;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.userEditReview .userEditReview-body .userEditReview-text textarea{
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    resize: none;
    padding: 5px;
}

.userEditReview .userEditReview-body .userEditReview-text textarea:focus::placeholder{
    color: transparent;
}

.userEditReview .userEditReview-body .userEditReview-text .btn{
    background-color: #0f3460;
    color: aliceblue;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    height: 60px;
    width: 100%;
}

.userEditReview .userEditReview-body .userEditReview-text .disabled{
    cursor: not-allowed;
    background-color: lightgray;
}

.userEditReview .userEditReview-body .userEditReview-text .btn-div{
    display: flex;
    justify-content: right;
    align-items: center;
}

@media screen and (max-width: 600px) {
    
    .userEditReview .userEditReview-body{
        width: 100%;
        padding: 10px;
        margin: 0;
    }

    .userEditReview .userEditReview-text textarea{
        height: 100px;
    }

    .userEditReview .userEditReview-body .userEditReview-text .starBtn-div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }
}