.userSettings{
    margin-left: auto;
    margin-right: auto;
    padding: 3% 2% 60vh 2%;
    height: 100%;
}

.orderPage .orderPage-heading{
    font-size: 30px;
    text-align: left;
    font-weight: 500;
}

.userSettings .userSettings-heading h1{
    font-size: 30px;
    font-weight: 500;
}

.userSettings .userSettings-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    margin-top: 20px;
    padding: 1rem 1rem;
}

.userSettings .userSettings-card h5{
    font-weight: 500;
}

.userSettings .userSettings-card .userSettings-chgPwdBtns input{
    position: relative;
    border: 2px solid #adadad;
}

.userSettings .userSettings-card .userSettings-delAccount h2{
    font-weight: 500;
}

.userSettings .userSettings-card .userSettings-delAccount input{
    position: relative;
    border: 2px solid #adadad;
}

.userSettings .userSettings-card .userSettings-chgPwdBtns button{
    height: 40px;
    width: 140px;
    border-radius: 5px;
    background-color: #0f3460;
    color: aliceblue;
    font-weight: 600;
    margin: 1% 0 2% 0;
    cursor: pointer;
}

.userSettings .userSettings-card .userSettings-delAccount{
    color: #e94560;
    margin-top: 1%;
}

.userSettings .userSettings-card .userSettings-delAccount .userSettings-delBtns button{
    height: 40px;
    width: 140px;
    border-radius: 5px;
    background-color: #e94560;
    color: aliceblue;
    font-weight: 600;
    margin: 1% 0 1% 0;
    cursor: pointer;
}

.userSettings .userSettings-card .userSettings-chgPwd .userSettings-chgPwdBtns #submit{
    height: 40px;
    width: 140px;
    border-radius: 5px;
    background-color: #0f3460;
    color: aliceblue;
    font-weight: 600;
    margin: 1% 0 2% 0;
    cursor: pointer;
    border: none;
}

.userSettings .userSettings-card .userSettings-chgPwd .userSettings-chgPwdBtns form{
    display: table;
}

.userSettings .userSettings-card .userSettings-chgPwd .userSettings-chgPwdBtns form .txt_field{
    display: table-row;
}

.userSettings .userSettings-card .userSettings-chgPwd .userSettings-chgPwdBtns form label{
    display: table-cell;
}

.userSettings .userSettings-card .userSettings-chgPwd .userSettings-chgPwdBtns form input{
    display: table-cell;
    margin: 10px;
    padding: 5px;
}

.userSettings .userSettings-card .userSettings-delAccount .userSettings-delBtns form{
    display: table;
}

.userSettings .userSettings-card .userSettings-delAccount .userSettings-delBtns form .txt_field{
    display: table-row;
}

.userSettings .userSettings-card .userSettings-delAccount .userSettings-delBtns form label{
    display: table-cell;
}

.userSettings .userSettings-card .userSettings-delAccount .userSettings-delBtns form input{
    display: table-cell;
    margin: 10px;
    padding: 5px;
}

.userSettings .userSettings-card .userSettings-delAccount .userSettings-delBtns #submit{
    height: 40px;
    width: 140px;
    border-radius: 5px;
    background-color: #e94560;
    color: aliceblue;
    font-weight: 600;
    margin: 1% 0 2% 0;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 390px) and (max-height: 844px){
    
    .userSettings .userSettings-card .userSettings-delAccount{
        margin-top: 6%;
    }

    .userSettings .userSettings-heading h1{
        font-size: 25px;
    }

    .userSettings .userSettings-card .userSettings-chgPwdBtns button{
        margin: 5% 0 2% 0;
    }

    .userSettings .userSettings-card .userSettings-delAccount{
        margin-top: 6%;
    }

    .userSettings .userSettings-card .userSettings-delAccount h2{
        margin-bottom: 4%;
    }
    
    .userSettings .userSettings-card .userSettings-delAccount .userSettings-delBtns button{
        margin: 5% 0 2% 0;
    }
    
    .userSettings .userSettings-div .userSettings-chgPwd .userSettings-chgPwdBtns form label{
        font-size: 14px;
    }

    .userSettings .userSettings-card .userSettings-chgPwd .userSettings-chgPwdBtns form input{
        width: 120px;
    }

    .userSettings .userSettings-card .userSettings-chgPwd .userSettings-chgPwdBtns #submit{
        margin: 12% 0 2% 0;       
    }

    .userSettings .userSettings-card .userSettings-delAccount .userSettings-delBtns #submit{
        margin: 12% 0 2% 0;
    }

    .userSettings .userSettings-card .userSettings-delAccount .userSettings-delBtns form input{
        width: 120px;
    }
}