.shop .category{
    padding: 30px;
    height: 100%;
}

.shop{
    margin-top: 30px;
}
.shop .category .box{
    background-color: #fff;
    margin: 15px 0;
    transition: 0.5s;
    border-radius: 5px;
    padding: 5px 10px;
}

.shop .category img{
    width: auto;
    height: auto;
}

.shop .category .box:hover{
    background-color: #fff;
    box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
}

.shop .category button{
    padding: 10px;
    background: none;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

.shop .contentWidth{
    margin-left: 30px;
}

.shop .contentWidth .toggle{
    visibility: hidden;
}

.grid1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.shop .product img{
    width: 100%;
    cursor: pointer;
    height: 300px;
}

.shop .product {
    transition: 0.5s;
}

.shop .product:hover{
    box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
}

.dropdown {
    position: relative;
}

.menu {
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
    width: 100%;
}
  
.menu > li {
    margin: 0;
    background-color: white;
}


.chead .container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
}

.chead .menu .container label{
    width: 100%;
    cursor: pointer;
}

.chead  .menu .container input{
    transform: scale(1.5);
    cursor: pointer;
}

.chead .menu .container span{
    margin-left: 10px;
}

.chead button{
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.chead .tab{
    padding-bottom: 5px;
}
.chead button i{
    padding-top: 2px;
}

.dropdown .range-slider {
    margin-left: 11px;
    margin-top: 10px;
    width: 216px;
}

.range-slider .range-slider__thumb {
    width: 20px;
    height: 20px;
}

.dropdown .range-values input{
    margin-top: 20px;
    border: 1px solid #999;
    width: 60px;
    padding-left: 12px;
    height: 30px;
    text-align: center;
    border-radius: 3px;
}

.shop #order-select{
    height: 30px;
    width: 110px;
    cursor: pointer;
} 

.cartSummit{
    position: absolute;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 400px;
    background-color: #0f3460;
    border-radius: 5px;
    box-shadow: 0px 1px 32px -1px rgba(24,121,176,0.75);
    -webkit-box-shadow: 0px 1px 32px -1px rgba(24,121,176,0.75);
    -moz-box-shadow: 0px 1px 32px -1px rgba(24,121,176,0.75);
}

.cartSummit h1{
    font-size: 20px;
    margin: 15px;
    color: aliceblue;
}

.cartSummit .cartSummit-heading button{
    margin-top: 15px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #ff7575;
}

.cartSummit .cartSummit-heading button:hover{
    cursor: pointer;
    background-color: #75baff;
}

.cartSummit .cartSummit-heading i {
    font-size: 20px;
}

.cartSummit .cartSummit-msg{
    padding: 15%;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.cartSummit-heading{
    display: flex;
    margin: 0 40px 0 10px;
    justify-content: space-between;
}

.cartSummit-card{
    background-color: aliceblue;
    margin: 10px;
    border-radius: 5px;
    height: 300px;
    overflow-y: scroll;
}

.cartSummit-card img{
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

.cartSummit-body .deleteCartProduct{
    background-color: #ff7575;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
}


@media only screen and (max-width: 390px) {
    .grid1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}
/*iPhone 12 PRO MAX stylng*/

@media only screen and (max-width: 428px) and (max-height: 926px){

    .grid1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .shop .contentWidth{
        margin-left: auto;
        margin-right: auto;
    }

    .shop .contentWidth .toggle{
        background-color: transparent;
    }

    .shop .contentWidth .heading{
        margin-left: 30px;
    }

    .shop #order-select{
        margin-top: 3px;
        height: 30px;
        width: 110px;
        cursor: pointer;
    } 

    .shop .category{
        padding: 30px;
        height: 70%;
    }

    .shop .contentWidth .toggle{
        visibility: visible;
    }
    
    .cartSummit{
        width: 90vw;
        height: 70vh;
    }

    .cartSummit .img{
        display: none;
    }

    .cartSummit .cart-details h4{
        font-size: 13px;
    }

    .cartSummit .removeCart{
        margin-right: 2px;
    }

    .cartSummit .cartControl button{
        margin: 2px;
    }

}