.orderPageAdmin{
    margin-left: auto;
    margin-right: auto;
    padding: 3% 2% 60vh 2%;
    height: 100%;
}

.orderPageAdmin .orderPageAdmin-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.orderPageAdmin .orderPageAdmin-heading h2{
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
}

.orderPageAdmin .mb-4{
    margin-bottom: 1.5rem;
}

.orderPageAdmin .shadow-sm{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)
}

.orderPageAdmin .card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    grid-gap: 0;
}

.orderPageAdmin .card-header{
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    display: flex;
    justify-content: flex-end;
}

.orderPageAdmin .select-div{
    display: flex;
}

.orderPageAdmin .select-div select{
    display: block;
    width: 170px;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.orderPageAdmin .card-body{
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.orderPageAdmin .table{
    width: 100%;
    display: block;
    height: 350px;
    margin-bottom: 1rem;
    color: #212529;
    border-color: #dee2e6;
    caption-side: bottom;
    border-collapse: collapse;
    overflow-y: auto;
}

.orderPageAdmin .table th{
   font-weight: 400;
   color: #adb5bd;
   text-align: left;
   padding: 6px 50px;
}

.orderPageAdmin .table td{
    padding: 8px 50px;
 }

.orderPageAdmin .table tbody{
    border-style: solid;
    border-width: 0;
    border-top: 2px solid;
}

.orderPageAdmin .table tbody button{
    background-color: #0f3460;
    color: aliceblue;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    

    .orderPageAdmin .card-body{

        overflow-x: auto;
    }



    
}