@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

.background{
  background-color: #f6f9fc;
  padding: 50px 0;
}

.container{
  max-width: 90%;
  margin: auto;
}

.tab{
  padding-bottom: 40px;
}

.d_flex{
  display: flex;
  justify-content: space-between;
}

.f_flex{
  display: flex;
}

.c_flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a{
  text-decoration: none;
  color: #000;
}

li{
  list-style: none;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.RText{
  text-align: right;
}

input, button{
  border: none;
  outline: none;
  background-color: none;
}

.row{
  width: 50%;
}

.icon-circle{
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #f3f5f9;
  margin-left: 20px;
  text-align: center;
  border-radius: 50%;
}

.boxShadow{
  box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
}

.discount{
  position: absolute;
  top: 0;
  left: 0;
  background: #e94560;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 50px;
  color: #fff;
  margin: 10px;
}

/*---------------------------Category------------------------------------*/

.contentWidth{
  width: 77%;
}

.category-tab {
  width: 23%;
  text-align: center;
  box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.category-tab .dot{
  height: 180px;
  width: 180px;
  background-color: rgb(132, 185, 255);
  border-radius: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 70px;
}

.category-tab .dot i:hover{
  transition: 0.4s;
  color:#0f3460;
}

.category-tab .dot i{
  font-size: 100px;
}

.category-tab button{
  width: 180px;
  height: 60px;
  background: none;
  color: black ;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
}

.category-tab button:hover{
  background-color: #0f3460;
  color: #fff;
  transition: 0.5s;
}

.tab-container{
  width: 100%;
}

.category{
  width: 23%;
  box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
  height: 450px;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 5px;
}

.category img{
  width: 30px;
  height: 30px;
  margin-top: 10px;
  object-fit: contain;
}

.category span{
  margin: 10px 20px;
  text-transform: capitalize;
}

.category .box{
  transition: 0.5s;
  padding: 0 20px;
}

.category .box:hover{
  background-color: #e1e3ff;
  cursor: pointer;
}


/*---------------------------Category------------------------------------*/

.btn-primary{
  background-color: #0f3460;
  padding: 13px 40px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.mtop{
  margin-top: 40px;
}

.heading i{
  color: #e94560;
  margin: 10px;
}

/*--------------------------product--------------------------*/

.product{
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0 1px 3px;
  margin: 10px;
}

.product img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product h3{
  font-weight: 400;
  font-size: 17px;
}

.product .rate i{
  font-size: 15px;
  color: #ffcd4e;
  margin: 5px 5px 5px 0;
}

.product .price{
  display: flex;
  justify-content: space-between;
  color: #e94560;
}

.product button{
  background: none;
  color: #0f3460;
  font-size: 20px;
  border: 1px solid rgb(3 0 71 /9%);
  width: 35px;
  height: 35px;
  border-radius: 5px;
  transition: 0.5s;
}

.product button:hover{
  cursor: pointer;
  background: #0f3460;
  color: #fff;
}

.product-like{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  opacity: 0;
  transition: 0.5s;
}

.product-like label{
  background-color: #0f3460;
  padding: 1px 10px;
  font-size: 12px;
  color: #fff;
  border-radius: 50px;
}

.product-like i{
  font-size: 20px;
  margin: 10px 3px;
}

.product:hover .product-like{
  opacity: 1;
  cursor: pointer;
}

.btn-moreProd{
  background-color: #0f3460;
  color: #fff;
  height: 50px;
  width: 120px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 15px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.slick-slide {
  height: 300px;
}

.slick-slide img {
  height: 300px;
}

/*--------------------------product--------------------------*/

/*--------------------------control-btn--------------------------*/

.control-btn .next,
.control-btn .prev{
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  line-height: 60px;
  background: #4388dd;
  border-radius: 50%;
  transition: 0.5s;
  z-index: 5;
}

.control-btn .prev{
  left: -20px;
}

.control-btn .next{
  right: -20px;
}

.control-btn .next i,
.control-btn .prev i{ 
  font-size: 20px;
  transition: 0.5s;
  color: #fff;
}

.control-btn .prev:hover,
.control-btn .next:hover {
  background: #e94560;
  color: white;
  cursor: pointer;
}
/*--------------------------control-btn--------------------------*/

/*--------------------------heading--------------------------*/

.heading .heading-left i{
  font-size: 25px;
}

.heading .heading-left h2{
  font-size: 25px;
  margin: 5px;
}

.heading .heading-right,
.heading .heading-right i {
  text-align: right;
  color: grey;
  cursor: pointer;
}
/*---------------------------heading--------------------------*/

.grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
}

.grid2{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}


/*--------------------iPhone 12 PRO styling------------------*/

@media only screen and (max-width: 390px) and (max-height: 844px){
  
  .head{
    display: none;
  }

  .home .homeSlide{
    display: none;
  }

  .home .category-tab{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .search-box {
    display: none;
  }

  .navlink .open{
    top: 16%;
    color: rgb(132, 185, 255);
  }

  .nav-links-MobileMenu li a{
    color:rgb(132, 185, 255);
    font-weight: 700;
    font-size: 18px;
  }

  .grid2{
    display: block;
    text-align: center;
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .product .img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }

  .product .box h4{
    text-align: center;
  }

  .product .box .price{
    justify-content: center;
  }

  .category{
    display: none;
  }

  .cart-items .container{
    display: flex;    
    flex-direction: column;
  }

}

/*--------------------iPhone 12 PRO MAX styling------------------*/

@media only screen and (max-width: 428px) and (max-height: 926px){
  
  .head{
    display: none;
  }

  .home .homeSlide{
    display: none;
  }

  .home .category-tab{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .search-box {
    display: none;
  }

  .navlink .open{
    top: 15%;
    color: rgb(132, 185, 255);
  }

  .nav-links-MobileMenu li a{
    color:rgb(132, 185, 255);
    font-weight: 700;
    font-size: 18px;
  }

  .grid2{
    display: block;
    text-align: center;
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .product .img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }

  .product .box h4{
    text-align: center;
  }

  .product .box .price{
    justify-content: center;
  }

  .heading .heading-left i{
    font-size: 15px;
    color: #0f3460;
  }

  .category{
    display: none;
  }

  .categoryMobile{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
    height: 450px;
    padding: 50px 0;
    background-color: #fff;
    z-index: 1000;
  }
  
  .categoryMobile img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    object-fit: contain;
  }
  
  .categoryMobile span{
    margin: 10px 20px;
    text-transform: capitalize;
  }
  
  .categoryMobile .box{
    transition: 0.5s;
    padding: 0 20px;
  }
  
  .categoryMobile .box:hover{
    background-color: #e1e3ff;
    cursor: pointer;
  }

  .categoryMobile .chead button{
    background-color: transparent;
  }

  .categoryMobile .chead button h3{
    font-size: 20px;
  }

  .categoryMobile .chead{
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .cart-items .container{
    display: flex;    
    flex-direction: column;
  }

}

/*--------------------iPhone 5/SE styling------------------*/

@media only screen and (max-width: 320px) and (max-height: 568px){
  
  .head{
    display: none;
  }

  .home .homeSlide{
    display: none;
  }

  .home .category-tab{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .search-box {
    display: none;
  }

  .navlink .open{
    top: 23%;
    color: rgb(132, 185, 255);
  }

  .nav-links-MobileMenu li a{
    color:rgb(132, 185, 255);
    font-weight: 700;
    font-size: 18px;
  }

  .grid2{
    display: block;
    text-align: center;
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .product .img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }

  .product .box h4{
    text-align: center;
  }

  .product .box .price{
    justify-content: center;
  }

  .category{
    display: none;
  }

  .cart-items .container{
    display: flex;    
    flex-direction: column;
  }

}